body {
    background-color: black;
    margin: 20px 20% ;
}
li {
    color: cyan;
    padding-top: 10px;
}
hr{
    background-color: white;
}
h1 {
    color: aliceblue;
  }
h3 {
  color: aliceblue;
}

#start {
    height: 35px;
    background-color: aliceblue;
    margin: auto;
    width: 40%;
}
a {
    font-size: medium;
    color: aliceblue;
}
@media screen and (max-width: 480px) {
    body {
        margin: 20px 20px;
    }
    #start {
        height: 35px;
        background-color: aliceblue;
        margin: auto;
        width: 100%;
    }
  }